
<br>
<span *ngFor="let of direccionesLista" class="card" style="width: 50rem;">
    <div class="card-header">
      Dirección
    </div >
   <!-- <div *ngFor="let item of direccionesLista">-->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Alias: {{direccionesLista.alias}}</li>
      <li class="list-group-item">Direción: {{direccionesLista.street}}</li>
      <li class="list-group-item">Ciudad: {{direccionesLista.city}}</li>
      <li class="list-group-item">Estado: {{direccionesLista.state}}</li>
      <li class="list-group-item">Código postal: {{direccionesLista.zipCode}}</li>
      <li class="list-group-item">País: {{direccionesLista.country}}</li>
      <li class="list-group-item">Status: {{direccionesLista.active}}</li>
      <li class="list-group-item">Fecha de creado: {{direccionesLista.createdAt}}</li>
      <li class="list-group-item">Cliente Id: {{direccionesLista.clienteId}}</li>
    </ul>
 <!--</div>-->
  </span>
 <br> 


